Page {
    background-color: #ed5502;
}

.font-awesome {
    font-family: 'FontAwesome', fontawesome-webfont;
}

Label, TextView {
    color: white;
}

Label {
    font-size: 24;
}

Button {
    background-color: #5a5a5a;
    color: white;
    border-radius: 25;
}